<mat-toolbar >
  <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
          <mat-icon>menu</mat-icon>
      </button>

      <h2 style="padding-top: 7px;"><span class="side-head-1">APP</span><span class="side-head-2">LOGO</span></h2>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                  <button mat-icon-button>
                      <mat-icon>settings</mat-icon>
                  </button>
              </li>
              
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                          <mat-icon>exit_to_app</mat-icon>
                          <a *ngIf="isLoggedIn" class="nav-link" href="/login" (click)=handleLogout()>Logout</a>

                      </button>
                  </mat-menu>

              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
