:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;

  }
  .profile-card {
    text-align: center;


  }
  a:hover{
      background-color:#b0b0b0;

  }
  a:active {

    background: #8c8888;
    color: #fff;
}
ul{
  list-style: none;
}
a:focus {
    background:  #8c8888;
    color: #fff;
}
  .mat-divider {
    border-top-width: 4px;
  }


}


.side-head-2{
  color: white;
}

.header{
  min-height: 65px;
  width: 100%;
}
.side-nav{
   padding: 25px;




   a{
       color:white;
       height: 35px !important;
       margin-bottom: 25px;

       .side-men{
           margin-left: 10px;
       }

   }
   .drop{
    background-color: rgb(29, 32, 32);
    margin-left: 10px;
    span{
      padding-left: 10px;
    }

   }

}
