.custom
{
  height:100%;
  display:block;
  width:100%;
  min-height: 550px;
  background: url("https://i.pinimg.com/originals/76/77/1e/76771e2c7e47fb98151dcc3bde245850.jpg")no-repeat center center;
  background-size: cover;

  h2{
    padding-top: 80px;
    text-align: center;
  }
}
